{{#useOptional}}{{#required}}{{{dataType}}}{{/required}}{{#isBodyParam}}{{{dataType}}}{{/isBodyParam}}{{^required}}{{^isBodyParam}}Optional<{{{dataType}}}>{{/isBodyParam}}{{/required}}{{/useOptional}}{{^useOptional}}{{{dataType}}}{{/useOptional}}